body {
    background: #D3D3D3;
}

aside {
    float: left;
    background: #808080;
    width: 15%;
    padding: 2%;
    height: 100vh;
    color: #FF4500;
    border-right: 5px solid #C0C0C0;
}

aside img{
    width: 60px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    color: #DC143C;
    position: relative;
    top: -2px;
}

aside ul{
    list-style: none;
    margin-top: 25px;
    font-size: 30px;
    text-decoration: none
}

aside ul li{
    color: #FF4500;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-left: -30px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #FFA500;
    text-decoration: none;
    transform: scale(1.05)
}
aside ul a {text-decoration: none;}

aside h5 {margin-top: 500px; color: #FFFFFF}
aside a img {margin-left: 12px; margin-top: 10px;}

main {height: 95vh; width: -85%; }

main .features {
    float: left;
    color: #008B8B;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    width: 85%;
}

main .features h1 {font-size: 50px; color: #228B22; font-weight: bold;}
main .features p {max-width: 800px; margin: 20px auto;}

main a img{
    margin-top: 100px;
    margin-left: 100px;
}


main a{text-decoration: none;}

main h6{color: #D3D3D3;}
main h2{color: #228B22; font-size: 30px; font-weight: bold; }
main p{color: #CD5C5C; font-size: 22px;  margin-left: 270px}
main hr {margin-bottom: 10px}
main img{float: left; padding: 0px}


footer{
    float: right;
    width: 85%;
    height: 5vh;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;

}

img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 5px;
	min-width: 100px;
	background: #8FBC8F;
	color: #fff;
}