{% extends 'advertising/base.html' %}

{% block content %}

    <h2>Мы - маркетинговое агенство AdSol</h2>
    <div></div>
    <p>Наше название - это производная от слов: Adver (в переводе с англ.  реклама) и solution (в переводе с англ.  решение)
    из чего получается: Рекламные решения. Мы занимаемся рекламой с 1996 года. Все началось с рекламной компании для
    бренда ХХХ. С того момента наше агество заявило о себе, как о професионале свого дела. На текущий момент мы сотрудничаем
    с многими компаниями. С 2010 года расширили свои услуги и вступили на просторы интернета.
    </p>
    <p>   Ниже Вы можете увидеть фильм с представлением нашего агенства
    </p>

    <iframe width="560" height="400" src="https://www.youtube.com/embed/xxxxxxxx"></iframe>


{% endblock %}