{% extends 'advertising/base.html' %}

{% block content %}

<div class="features">
    <h1>Добрый день, это веб-сайт маркетинговой компании AdSol</h1>
    <p>Рекла́ма (от фр. réclame через нем. Reklame) — направление в маркетинговых коммуникациях,
        в рамках которого производится распространение информации для привлечения внимания к объекту рекламирования с целью формирования или поддержания интереса к нему. Основные функции рекламы — повышение дохода от реализации продукта либо услуги.
        Правильно организованная кампания по раскрутке в течение длительного времени удерживает заинтересованность общества к товару. Помимо этого, происходит продвижение определенной торговой марки и привлечение новой аудитории.</p>
</div>

{% endblock %}